@import (css)
  url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap");
@import (css)
  url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Ubuntu&display=swap");

:root {
  --bg: #181818;
  --txt-body: white;
  --green-main: #08a781;
  --green-light: #4aaa93;
  --green-dark: #056a52;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--txt-body);
  font-family: "Fraunces", serif;
}

main {
  margin: 1rem 1.5rem;
}

.step {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  height: 100vh;
  justify-items: center;

  h1 {
    text-align: center;
    margin: 72px 0;
    font-size: 2.5rem;
  }

  .step-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img-plug {
      animation: 4s ease-in-out infinite plugin;
    }
  }

  .btn-main {
    margin: 72px 0;
    min-width: 256px;
    min-height: 64px;
    font-size: 1rem;
    font-family: "ubuntu", sans-serif;
    font-weight: bold;
    background-color: var(--green-main);
    border-radius: 10px;
    border-width: 0 2px 6px 2px;
    border-style: solid;
    border-color: var(--green-dark);
    color: white;
    cursor: pointer;
    transition: all 50ms ease-in-out;

    &:hover {
      background-color: var(--green-light);
    }
    &:active {
      border-bottom-width: 4px;
    }
  }
}

.img-file-picker {
  animation: 4s ease-in-out normal file-picker;
}
#pointer {
  width: 64px;
  position: relative;
  left: 200px;
  top: -50px;
  animation: 4s ease-in-out normal pointer-demo;
}
#step-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #arrow {
    margin-left: 50%;
    margin-bottom: -48px;
  }
}

// animations
@keyframes plugin {
  0% {
    transform: translateY(48px);
  }

  20% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pointer-demo {
  0% {
    left: 0px;
    top: 180px;
    scale: 1;
  }
  10% {
    left: 0px;
    top: 180px;
    scale: 0.8;
  }
  15% {
    left: 0px;
    top: 180px;
    scale: 1;
  }
  40% {
    left: -200px;
    top: -100px;
    scale: 1;
  }
  45% {
    left: -200px;
    top: -100px;
    scale: 0.8;
  }
  50% {
    left: -200px;
    top: -100px;
    scale: 1;
  }
  80% {
    left: 200px;
    top: -50px;
    scale: 1;
  }
  85% {
    scale: 0.8;
  }
  90% {
    scale: 1;
  }
  100% {
    scale: 1;
    left: 200px;
    top: -50px;
  }
}

@keyframes file-picker {
  0% {
    visibility: hidden;
  }
  10% {
    scale: 0.8;
    visibility: hidden;
  }
  15% {
    scale: 1;
    visibility: visible;
  }
}
